{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block content %}
<!-- {{ field.errors }} -->
<!-- {{ form.as_p }} -->
<section id="about" class="about">
	<div class="container">
		<h1 class="page_title">Информация об аккаунте:</h1>
		<div class="resume_block_info">
			<h2 class="page_title">Логин: {{ info.username }}</h2>
			<h2 class="page_title">Email: {{ info.email }}</h2>
		</div>
		<input id='resume_button' type="button" value="Создать резюме" class="create_resume_but" onclick="disp(document.getElementById('resume'))"/>
		<div id="resume" class="resume_hidden">
			{% if form.errors %}
	   			{% for field in form %}
	      			{% for error in field.errors %}
	          			<h3 class="errors_password">{{ error|escape }}</h3>
	      			{% endfor %}
	   			{% endfor %}
			{% endif %}
			<h1 class="page_title">Профиль:</h1>
			<div class="resume_block">
				<form method="POST" enctype="multipart/form-data" class="resume_form">{% csrf_token %}
					{% for field in form %}
						<li>{{ field }}</li>
					{% endfor %}
					{% for i in form2 %}
						<li>{{ i }}</li>
					{% endfor %}
					{% for i in form2 %}
						<li>{{ i }}</li>
					{% endfor %}
					{% for j in form3 %}
						<li>{{ j }}</li>
					{% endfor %}
					{% for k in form4 %}
						<li>{{ k }}</li>
					{% endfor %}
					{% for l in form5 %}
						<li>{{ l }}</li>
					{% endfor %}
					<!-- {% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
					<div class="form_resume_photo">
						<label>Фото</label>
					</div>
					{{ form.photo }}
					<div class="form_resume_name">
						<label>Имя</label>
					</div>
					{{ form.first_name_u }}
					<div class="form_resume_name_2">
						<label>Фамилия</label>
					</div>
					{{ form.last_name_u }}
					<div class="form_resume_profesion">
						<label>Профессия</label>
					</div>
					{{ form.profession }}
					<div class="form_resume_country">
						<label>Страна</label>
					</div>
					{{ form.country }}
					<div class="form_resume_city">
						<label>Город</label>
					</div>
					{{ form.city }}
					<div class="form_resume_university">
						<label>Учебное<br>заведение</label>
					</div>
					{{ form.university }}
					<div class="form_resume_skills">
						<label>Навыки</label>
					</div>
					{{ form.skills }}
					<div class="form_resume_exp">
						<label>Опыт работ</label>
					</div>
					{{ form.experience }}
					<div class="form_resume_university">
						<label>Допоплнительное<br>образование</label>
					</div>
					{{ form.additional_education }}
					<div class="form_resume_achiv">
						<label>Достижения</label>
					</div>
					{{ form.achievements }}
					<div class="form_resume_addinfo">
						<label>Доп.<br>информация</label>
					</div>
					{{ form.additional_information }}
					<div> -->
						<button type="submit" class="resume_button">Сохранить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}