{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block content %}
<!-- {{ field.errors }} -->
<!-- {{ form.as_p }} -->
<section id="about" class="about">
	<div class="container">
		<h1 class="page_title">Информация об аккаунте:</h1>
		<div class="resume_block_info">
			<h2 class="page_title">Логин: {{ info.username }}</h2>
			<h2 class="page_title">Email: {{ info.email }}</h2>
			{% if info_resume %}
				{% for field in info_resume.all %}
				<div class="page_all_block">
					<img class="ph_acc_page" src={{ field.photo.url }}>
					<div class="desc_acc_page">
						<h1 class="page_name">{{ field.first_name_u }} {{ field.last_name_u }}</h1>
						<h2 class="page_profession">{{ field.profession }}</h2>
						<h2 class="page_place">{{ field.city }}, {{ field.country }}</h2>
						<h2 class="page_university">{{ field.university }}</h2>
					</div>
					<div class="desc_button_page">
						<a href="#" class="message_to">Написать</a>
					</div>
					<div><h2 class="page_title">Навыки:</h2></div>	
					<div class="page_block_info">
						<div class="page_skills">
							{% for skill in field.skills.all %}
							    <div class="page_skill"><p>{{ skill }}</p></div>
							{% endfor %}
						</div>
					</div>
					<div><h2 class="page_title">Опыт работы:</h2></div>
					{% for experience in field.experience.all %}
						<div class="page_block_info">
							<img class="ph_expirience_page" src={{ experience.photo_work.url }}>
							<div class="desc_acc_page">
								<h1 class="page_upperblock">{{ experience.company_name }}</h1>
								<h2 class="page_lowerblock">{{ experience.position }}</h2>
								<h2 class="page_lowerblock">{{ experience.years_of_work }} года, {{ experience.mounth_of_work }} месяца</h2>
							</div>
						</div>
					{% endfor %}
					<div><h2 class="page_title">Дополнительное образование:</h2></div>
					{% for education in field.additional_education.all %}
						<div class="page_block_info">
							<img class="ph_expirience_page" src={{ education.photo_education.url }}>
							<div class="desc_acc_page">
								<h1 class="page_upperblock">{{ education.university_name }}</h1>
								<h2 class="page_lowerblock">{{ education.direction }}</h2>
								<h2 class="page_lowerblock">{{ education.start_training }} - {{ education.end_training }}</h2>
							</div>
						</div>
					{% endfor %}
					<div><h2 class="page_title">Достижения:</h2></div>
					{% for achievements in field.achievements.all %}
						<div class="page_block_info">
							<div class="desc_acc_page_add">
								<h1 class="page_upperblock_add">{{ achievements.topic }}</h1>
								<h2 class="page_lowerblock_add">{{ achievements.description }}</h2>
							</div>
						</div>
					{% endfor %}
					<div><h2 class="page_title">О себе:</h2></div>
						<div class="page_block_info">
							<div class="desc_acc_page_add">
								<h2 class="page_lowerblock_add">{{ field.additional_information }}</h2>
							</div>
						</div>
				</div>
				{% endfor %}
			{% endif %}
		</div>
		<input id='resume_button' type="button" value="Создать резюме" class="create_resume_but" onclick="disp(document.getElementById('resume'))"/>
		<div id="resume" class="resume_hidden">
			{% if form.errors %}
	   			{% for field in form %}
	      			{% for error in field.errors %}
	          			<h3 class="errors_password">{{ error|escape }}</h3>
	      			{% endfor %}
	   			{% endfor %}
			{% endif %}
			<h1 class="page_title">Профиль:</h1>
			<div class="resume_block">
				<form method="POST" enctype="multipart/form-data" class="resume_form">{% csrf_token %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
					<div class="form_resume_photo">
						<label>Фото</label>
					</div>
					{{ form.photo }}
					<div class="form_resume_name">
						<label>Имя</label>
					</div>
					{{ form.first_name_u }}
					<div class="form_resume_name_2">
						<label>Фамилия</label>
					</div>
					{{ form.last_name_u }}
					<div class="form_resume_profesion">
						<label>Профессия</label>
					</div>
					{{ form.profession }}
					<div class="form_resume_country">
						<label>Страна</label>
					</div>
					{{ form.country }}
					<div class="form_resume_city">
						<label>Город</label>
					</div>
					{{ form.city }}
					<div class="form_resume_university">
						<label>Учебное<br>заведение</label>
					</div>
					{{ form.university }}
					<div class="form2_title">
						<label>Навыки</label>
					</div>
					{{ form2.title }}
					<div class="form3_c_name">
						<label>Название<br>компании</label>
					</div>
					{{ form3.company_name }}
					<div class="form3_position">
						<label>Позиция</label>
					</div>
					{{ form3.position }}
					<div class="form3_years">
						<label>Лет<br>отработано</label>
					</div>
					{{ form3.years_of_work }}
					<div class="form3_mounth">
						<label>Месяцев<br>отработано</label>
					</div>
					{{ form3.mounth_of_work }}
					<div class="form3_ph">
						<label>Фото</label>
					</div>
					{{ form3.photo_work }}
					<div class="form4_un_name">
						<label>Учебное<br>заведение</label>
					</div>
					{{ form4.university_name }}
					<div class="form4_direction">
						<label>Направление</label>
					</div>
					{{ form4.direction }}
					<div class="form4_start">
						<label>Начало<br>обучения</label>
					</div>
					{{ form4.start_training }}
					<div class="form4_start">
						<label>Конец<br>обучения</label>
					</div>
					{{ form4.end_training }}
					<div class="form4_ph">
						<label>Фото</label>
					</div>
					{{ form4.photo_education }}
					<div class="form4_ph">
						<label>Заголовок</label>
					</div>
					{{ form5.topic }}
					<div class="form5_textarea">
						<label>Описание</label>
					</div>
					{{ form5.description }}
					<div class="form5_textarea_2">
						<label>Доп.<br>информация</label>
					</div>
					{{ form.additional_information }}
					<div>
						<button type="submit" class="resume_button">Сохранить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}