{% extends "base.html" %}
{% load static %}
{% block title %}Auth{% endblock %}

{% block content %}
<section>
	<div class="auth_block">
	    <h1 class="auth_head">Вход</h1>
	    <form method="POST" class="post-form">{% csrf_token %}
	    	<div class="label_login">
		    	<label for="login">Логин</label>
		    </div>
		    {{ form.login }}
	        <div class="label_password">
		        <label for="password">Пароль</label>
		    </div>
		    {{ form.password }}
	        <button type="submit" class="auth_button">Войти</button>
	    </form>
	</div>
</section>
{% endblock %}