{% extends "base_auth.html" %}

{% load static %}

{% block title %}UsefulPeople{% endblock %}

{% block content %}
{% url 'authorisation' as auth %}
{% url 'registration' as reg %}
<section id="about" class="about">
	<div class="container">
		<div class="description">
			<div class="desc-left">
				<h3 class="main_text">Нужный человек в один клик</h3>
				<p class="main_subtext">
					Онлайн ресурс для поиска человека с определенными навыками для реализации 
					вашего проекта
				</p>
				<a href="/registration" class="search_man">Найти человека</a>
			</div>
			<div class="desc-right">
				<img src="{% static 'img/people.svg' %}" alt="main photo" class="main_photo">
			</div>			
		</div>
	</div>
</section>
{% endblock %}