{% extends "base.html" %}
{% load static %}
{% block title %}UsefulPeople{% endblock %}

{% block content %}
<header id="header" class="header">
	<div class="container">
		<div class="nav">
			<img src="{% static 'img/logo.svg' %}" alt="UsefulPeople" class="logo">
			<div class="buttons_menu">
				<button class="login">
					<a href="{% url 'authorisation' %}">Log in</a>
				</button>
				<button class="signin">
					<a href="{% url 'registration' %}">Sign in</a>
				</button>
			</div>
		</div>
	</div>
</header>
<section id="about" class="about">
	<div class="container">
		<div class="description">
			<div class="desc-left">
				<h3 class="main_text">Нужный человек в один клик</h3>
				<p class="main_subtext">
					Онлайн ресурс для поиска человека с определенными навыками для реализации 
					вашего проекта
				</p>
				<button class="search_man">
					Найти человека
				</button>
			</div>
			<div class="desc-right">
				<img src="{% static 'img/people.svg' %}" alt="main photo" class="main_photo">
			</div>			
		</div>
	</div>
</section>
{% endblock %}