{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block content %}
<header id="header" class="header">
	<div class="container">
		<div class="nav">
			<img src="{% static 'img/logo.svg' %}" alt="UsefulPeople" class="logo_main">
			<div class="head_main_menu">
				<a href="/chat/" class="chat"><img src="{% static 'img/chat.svg' %}" alt="chat"></a>
				<a href="/account/" class="account"><img src="{% static 'img/account.svg' %}" alt="account"></a>
				<a href="/logout/" class="logout"><img src="{% static 'img/logout.svg' %}" alt="logout"></a>
			</div>
		</div>
	</div>
</header>
<section id="about" class="about">
	<div class="container">
		<div class="searching_menu">
			<div class="search_line"></div>
			<button class="search_button">Search</button>
		</div>
		<div class="desc-left-main">
			{% if accounts.count > 0 %}
			<div class="main_block">
				{% for account in accounts %}
				<img class="ph_acc_main" src={{ account.photo }}>
				<div class="desc_acc_main">
					<h2 class="main_name">{{ account.first_name }} {{ account.last_name }}</h2>
					<h2 class="main_profession">{{ account.profession }}</h2>
					<div class="acc_skills">
						<div class="skill"><p>{{ account.skills }}</p></div>
					</div>
					{% for skill in account.skills.all %}
					    <p>{{ skill }}</p>
					{% endfor %}
				</div>
				{% endfor %}	
			</div>
			{% endif %}
			<div class="main_block">
				<img class="ph_acc_main" src="{% static 'img/temp_ph.svg' %}">
				<div class="desc_acc_main">
					<h2 class="main_name">Андрей Павлов</h2>
					<h2 class="main_profession">Google IT</h2>
					<div class="acc_skills">
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
					</div>	
				</div>	
			</div>
			<div class="main_block">
				<img class="ph_acc_main" src="{% static 'img/temp_ph.svg' %}">
				<div class="desc_acc_main">
					<h2 class="main_name">Андрей Павлов</h2>
					<h2 class="main_profession">Google IT</h2>
					<div class="acc_skills">
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
					</div>	
				</div>	
			</div>
		</div>	
	</div>
</section>
{% endblock %}