{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block content %}
<section id="about" class="about">
	<div class="container">
		<div class="searching_menu">
			<form action="{% url 'search' %}" method="GET" class="search_line_form">
				<input type="text" class="search_line" name="q">
				<button class="search_button" type="submit">Search</button>
			</form>
		</div>
		<div class="desc-left-main">
			{% if comment %}
				<h2 class="error_search">{{ comment }}</h2>
			{% endif %}
			{% if accounts.count > 0 %}
				{% for account in accounts %}
				<a style="display:block" href="{% url 'page' account.id%}">
					<div class="main_block">
						<img class="ph_acc_main" src={{ account.photo }}>
						<div class="desc_acc_main">
							<h2 class="main_name">{{ account.first_name_u }} {{ account.last_name_u }}</h2>
							<h2 class="main_profession">{{ account.profession }}</h2>
							<div class="acc_skills">
							{% for skill in account.skills.all %}
							    <div class="skill"><p>{{ skill }}</p></div>
							{% endfor %}
							</div>
						</div>	
					</div>
				</a>
				{% endfor %}
			{% endif %}
			<div class="main_block">
				<img class="ph_acc_main" src="{% static 'img/temp_ph.svg' %}">
				<div class="desc_acc_main">
					<h2 class="main_name">Андрей Павлов</h2>
					<h2 class="main_profession">Google IT</h2>
					<div class="acc_skills">
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
					</div>	
				</div>	
			</div>
			<div class="main_block">
				<img class="ph_acc_main" src="{% static 'img/temp_ph.svg' %}">
				<div class="desc_acc_main">
					<h2 class="main_name">Андрей Павлов</h2>
					<h2 class="main_profession">Google IT</h2>
					<div class="acc_skills">
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
						<div class="skill"><p>python</p></div>
					</div>	
				</div>	
			</div>
		</div>	
	</div>
</section>
{% endblock %}