{% extends "base.html" %}
{% load static %}
{% block title %}Page{% endblock %}

{% block content %}
<header id="header" class="header">
	<div class="container">
		<div class="nav">
			<img src="{% static 'img/logo.svg' %}" alt="UsefulPeople" class="logo_main">
			<div class="head_main_menu">
				<a href="/chat/" class="chat"><img src="{% static 'img/chat.svg' %}" alt="chat"></a>
				<a href="/account/" class="account"><img src="{% static 'img/account.svg' %}" alt="account"></a>
				<a href="/logout/" class="logout"><img src="{% static 'img/logout.svg' %}" alt="logout"></a>
			</div>
		</div>
	</div>
</header>
<section id="about" class="about">
	<div class="container">
		<div class="page_all_block">
			<img class="ph_acc_page" src={{ account.photo }}>
			<div class="desc_acc_page">
				<h1 class="page_name">{{ account.first_name }} {{ account.last_name }}</h1>
				<h2 class="page_profession">{{ account.profession }}</h2>
				<h2 class="page_place">{{ account.city }}, {{ account.country }}</h2>
				<h2 class="page_university">{{ account.university }}</h2>
			</div>
			<div class="desc_button_page">
				<a href="#" class="message_to">Написать</a>
			</div>
			<div><h2 class="page_title">Навыки:</h2></div>	
			<div class="page_block_info">
				<div class="page_skills">
					{% for skill in account.skills.all %}
					    <div class="page_skill"><p>{{ skill }}</p></div>
					{% endfor %}
				</div>
			</div>
			<div><h2 class="page_title">Опыт работы:</h2></div>
			{% for experience in account.experience.all %}
				<div class="page_block_info">
					<img class="ph_expirience_page" src={{ experience.photo_work }}>
					<div class="desc_acc_page">
						<h1 class="page_upperblock">{{ experience.company_name }}</h1>
						<h2 class="page_lowerblock">{{ experience.position }}</h2>
						<h2 class="page_lowerblock">{{ experience.years_of_work }} года, {{ experience.mounth_of_work }} месяца</h2>
					</div>
				</div>
			{% endfor %}
			<div><h2 class="page_title">Дополнительное образование:</h2></div>
			{% for education in account.additional_education.all %}
				<div class="page_block_info">
					<img class="ph_expirience_page" src={{ education.photo_education }}>
					<div class="desc_acc_page">
						<h1 class="page_upperblock">{{ education.university_name }}</h1>
						<h2 class="page_lowerblock">{{ education.direction }}</h2>
						<h2 class="page_lowerblock">{{ education.start_training }} - {{ education.end_training }}</h2>
					</div>
				</div>
			{% endfor %}
			<div><h2 class="page_title">Достижения:</h2></div>
			{% for achievements in account.achievements.all %}
				<div class="page_block_info">
					<div class="desc_acc_page_add">
						<h1 class="page_upperblock_add">{{ achievements.topic }}</h1>
						<h2 class="page_lowerblock_add">{{ achievements.description }}</h2>
					</div>
				</div>
			{% endfor %}
			<div><h2 class="page_title">О себе:</h2></div>
				<div class="page_block_info">
					<div class="desc_acc_page_add">
						<h2 class="page_lowerblock_add">{{ account.additional_information }}</h2>
					</div>
				</div>
		</div>
	</div>
</section>
{% endblock %}