{% extends "base_auth.html" %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
<section>
	{% if user_form.errors %}
	   {% for field in user_form %}
	      {% for error in field.errors %}
	          <h3 class="errors_password">{{ error|escape }}</h3>
	      {% endfor %}
	   {% endfor %}
	{% endif %}
	<div class="reg_block">
		<h1 class="reg_head">Регистрация</h1>
		<form method="POST" class="post-form_2">{% csrf_token %}
			{% for message in messages %}
			<p>{{message}}</p>
			{% endfor %}
			<div class="label_reg_log">
				<label for="registratiom">Логин</label>
			</div>
			{{ form.username }}
			<div class="label_reg_email">
				<label for="registratiom">Email</label>
			</div>
			{{ form.email }}
			<div class="label_reg_password">
				<label for="registratiom">Пароль</label>
			</div>
			{{ form.password1 }}
			<div class="label_reg_password2">
				<label for="registratiom">Повторите<br>пароль</label>
			</div>
			{{ form.password2 }}
			<button type="submit" class="reg_button">Зарегестрироваться</button>
		</form>
	</div>
</section>
{% endblock %}