body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 16px;
	background: #B0FFFF;
}

* {
	box-sizing: border-box;
}
.container {
	width: 70%;
	margin: 0 auto; 
}
.header {
	display: inline-block;
	width: 100%;
	background: #46FFFF;
	overflow: auto;
}
/*.menu {
	display: flex;
}
.menu li a {
	font-size: 30px;
	letter-spacing: 0.1em;
}
.menu li a:hover {
	border-bottom: 1px solid #fff;
}*/

/*.menu li {
	margin-right: 40px;
}*/
.nav {
	display: flex;
	align-items: center;
}
.logo {
	margin-top: 5px;
	height: 90%;
	margin-right: 40%;
}
.login {
	padding-top: 5px;
	display: inline-block;
	background: #000000;
	right: 10px;
	width: 155px;
	height: 43px;
	border-radius: 15px;
	border: 0;
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.signin {
	padding-top: 5px;
	display: inline-block;
	background: #000000;
	margin-left: 20px;
	width: 155px;
	height: 43px;
	border-radius: 15px;
	border: 0;
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.buttons_menu {
	align-items: flex-end;
	float: right;
}
.description {
	display: flex;
}
.desc-right {
	width: 50%;
	margin-top: 120px;
}
.desc-left {
	width: 50%;
	margin-top: 80px;
	text-align: center;
}
.main_photo {
	width:  100%;
}
.main_text {
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
}
.main_subtext {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	width: 90%;
	margin-left: 5%;
}
.search_man {
	padding-top: 15px;
	display: inline-block;
	font-size: 30px;
	color: #FFFFFF;
	border:  0;
	width: 70%;
	height: 15%;
	background: #F91D45;
	border-radius: 15px;
	box-shadow: 50px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0px 0px 15px 3px #F91D45;
}
.auth_block {
	position: absolute;
	width: 30%;
	height: 32%;
	background: #46FFFF;
	border: 2.7px solid;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.auth_head {
	margin: 0;
	font-size: 50px;
}
.post_form {
	padding: 0px;
	font-size: 30px;
}
.input_log, .input_passwd {
	margin-right: 10%;
	float: right;
	font-size: 40px;
	width: 70%;
	border-radius: 15px;
	border: 2.5px solid;
	margin-top: 10px;
}
.auth_button {
	font-size: 30px;
	width: 77%;
	height: 45px;
	border: 0;
	border-radius: 15px;
	color: #ffffff;
	background: #F91D45;
	font-family: 'Montserrat', sans-serif;
	margin-top: 15px;
}
.label_login {
	float: left;
	padding-top: 22.5px;
	font-size: 20px;
	margin-left: 15px;
}
.label_password {
	float: left;
	padding-top: 40px;
	font-size: 20px;
	margin-left: 15px;
}
.reg_block {
	position: absolute;
	width: 38%;
	height: 47%;
	background: #46FFFF;
	border: 2.7px solid;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.reg_head {
	margin: 0;
	margin-top: 7px;
	font-size: 47px;
	font-family: 'Montserrat', sans-serif;
}
.input_log_2, .input_passwd_2, .input_email_2, .input_passwd2_2 {
	margin-right: 10%;
	float: right;
	font-size: 32px;
	width: 70%;
	border-radius: 15px;
	border: 2.5px solid;
	margin-top: 18px;
}
.post_form {
	padding: 0px;
	font-size: 30px;
}
.label_reg_log, .label_reg_email, .label_reg_password, .label_reg_password2 {
	float: left;
	font-size: 20px;
	margin-left: 15px;
}
.label_reg_log {
	padding-top: 25px;
}
.label_reg_email {
	padding-top: 38px;
}
.label_reg_password {
	padding-top: 37px;
}
.label_reg_password2 {
	text-align: left;
	line-height: 90%;
	padding-top: 32px;
	word-wrap: break-word;
}
.reg_button {
	font-size: 30px;
	width: 77%;
	height: 60px;
	border: 0;
	border-radius: 15px;
	color: #ffffff;
	background: #F91D45;
	font-family: 'Montserrat', sans-serif;
	margin-top: 15px;
}
.reg_done_block {
	position: absolute;
	width: 38%;
	height: 47%;
	background: #46FFFF;
	border: 2.7px solid;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
}
.reg_done_h1 {
	margin-top: 15%;
	text-align: center;
}
.reg_done_p {
	font-size: 20px;
}
.reg_done_button {
	padding-top: 10px;
	display: inline-block;
	background: #000000;
	right: 10px;
	width: 400px;
	height: 50px;
	border-radius: 15px;
	border: 0;
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.alert_errors {
	padding-top: 5%;
	margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FF0000;
}
.errors_password {
	margin: 0;
	padding: 0;
	color: #FF0000;
	margin-left: 10px;
}
.logo_main {
	margin-top: 5px;
	height: 90%;
	margin-right: 55%;
}
.head_main_menu {
	align-items: flex-end;
	float: right;
}
.chat {
	height: 30%;
}
.account {
	margin-left: 17px;
	height: 30%;
}
.logout {
	margin-left: 17px;
	height: 30%;
}
.searching_menu {
	display: inline-block;
	margin-left: 5px;
	width: 99.2%;
	border-radius: 15px;
	border: 2.7px solid;
	background: #000000;
	height: 50px;
}
.search_line_form {
	float: left;
	font-size: 22px;
	width: 100%;
	height: 100%;
}
.search_line {
	float: left;
	width: 87%;
	height: 100%;
	background: #FEFEFE;
	border-radius: 15px;
	border: 2.7px solid;
	padding-left: 12px;
	font-size: 22px;
}
.search_button {
	float: left;
	width: 13%;
	height: 100%;
	background: #FEFEFE;
	border-radius: 15px;
	border: 2.7px solid;
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.desc-left-main {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.main_block {
	float: left;
	margin: 5px;
	padding: 0;
	height: 230px;
	width: 49.2%;
	border-radius: 15px;
	border: 2.7px solid;
	background: #FEFEFE;
}
.ph_acc_main {
	float: left;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 15px;
	height: 210px;
	width: 35%;
}
.desc_acc_main {
	float: left;
	width: 60%;
}
.main_name {
	float: left;
	width: 100%;
}
.main_profession {
	margin-top: 30px;
}
.acc_skills {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
.skill {
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
	float: left;
	background: #C4C4C4;
	width: 23%;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	line-height: 1.5px;
	margin-right: 3px;
	font-size: 15px;
	margin-top: 10px;
}
.page_all_block {
	float: left;
	margin: 5px;
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	border: 2.7px solid;
	background: #FEFEFE;
	padding-bottom: 10px;
}
.ph_acc_page {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 15px;
	height: 250px;
	width: 20%;
}
.desc_acc_page {
	display: inline-block;
	float: left;
	width: 35%;
}
.page_name {
	float: left;
	width: 100%;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.page_profession {
	float: left;
	margin-top: 10px;
	font-size: 30px;
	margin-bottom: 15px;
}
.page_place {
	float: left;
	margin-top: 10px;
	width: 100%;
	font-size: 30px;
	margin-bottom: 15px;
}
.page_university {
	float: left;
	margin-top: 10px;
	width: 100%;
	font-size: 30px;
	margin-bottom: 15px;
}
.message_to {
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
	font-size: 30px;
	color: #FFFFFF;
	border:  0;
	height: 20%;
	background: #F91D45;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
}
.desc_button_page {
	float: left;
	display: inline-block;
	width: 35%;
	text-align: center;
	padding-top: 6%;
	padding-left: 70px;
}
.page_title {
	margin-top: 14px;
	float: left;
	width: 100%;
	margin-left: 10px;
	font-size: 25px;
	margin-bottom: 10px;
}
.page_block_info {
	float: left;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 100%;
	width: 98.5%;
	border: 2.7px solid;
	background: #FEFEFE;
}
.page_skills {
	margin: 3px;
	display: inline-block;
	width: 100%;
}
.page_skill {
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
	float: left;
	background: #C4C4C4;
	width: 10%;
	height: 40px;
	text-align: center;
	border-radius: 15px;
	line-height: 1px;
	margin-right: 3px;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 7px;
	margin-left: 10px;
}
.ph_expirience_page {
	float: left;
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 12px;
	margin-bottom: 5px;
	height: 130px;
	width: 10%;
}
.page_upperblock {
	float: left;
	width: 100%;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.page_lowerblock {
	float: left;
	width: 100%;
	margin-top: 5px;
	font-size: 25px;
	margin-bottom: 5px;
}
.desc_acc_page_add {
	display: inline-block;
	float: left;
	width: 65%;
}
.page_upperblock_add {
	float: left;
	width: 100%;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.page_lowerblock_add {
	float: left;
	width: 100%;
	margin-top: 5px;
	font-size: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.error_search {
	text-align: center;
}
.signin {
	font-size: 20px;
	width: 100%;
	height: 40px;
	border: 0;
	border-radius: 15px;
	color: #ffffff;
	background: #F91D45;
	font-family: 'Montserrat', sans-serif;
	margin-top: 17px;
	padding-top: 7px;
}
.signup {
	font-size: 20px;
	width: 100%;
	height: 40px;
	border: 0;
	border-radius: 15px;
	color: #ffffff;
	background: #F91D45;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	padding: 10px;
	margin-left: 20px;
	text-align: center;
}